/* Header */
.header {
  background-color: white;
}

.header .search input {
  max-width: 100%;
  background-color: rgb(238, 243, 248);
}

.header ul li {
  cursor: pointer;
  user-select: none;
}

.header ul li div {
  min-width: 65px;
}

.header ul li div.active {
  border-bottom: 2px solid #000;
}

.header ul li img {
  width: 25px;
}

.header ul li.me .sign-out {
  position: absolute;
  padding: 8px;
  width: 80px;
  font-size: 13px;
  border-radius: 4px;
  top: 102%;
  animation: fadeIn .5s linear alternate;
  background-color: #333;
  color: #FFF;
  display: none;
}

.header ul li.me:hover .sign-out {
  display: block;
}

.header .notifications {
  .list {
    display: none;
    background-color: #333;
    width: 300px;
    height: 350px;
    left: -230%;
    bottom: -355px;
    z-index: 990;
    overflow-y: scroll;

    .item {
      padding: 15px;
      font-size: 14px;
      text-align: start;
      transition: .3s;
      background-color: transparent;
      color: white;
      width: 100%;

      img {
        width: 35px;
        height: 35px
      }

      &:hover {
        background-color: #222;
      }
    }
  }

  .notifications-count {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    right: 18px;
    top: -1px;
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .header .container {
    padding: 10px !important;
  }

  .header ul {
    position: fixed;
    background-color: white;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    box-shadow: 0 0 10px #DDD;
    z-index: 999;
  }

  .header .notifications {
    .list {
      bottom: 50px;
    }
  }

  .header ul li.me .sign-out {
    top: -150%;
  }
}

@media (max-width: 300px) {
  .header ul {
    gap: 5px !important;
  }

  .header ul li.me .sign-out {
    left: -14px;
  }
}

/* Left Side */
.home>.container {
  display: flex;
  gap: 20px;
}


.container .left-side {
  width: 25%;
  position: sticky;
  top: 0;

  .bg-img {
    height: 75px;
    background-image: url(../images/card-bg.svg);
    background-position: center center;
    background-size: cover;
  }

  .info {
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;

    img {
      width: 70px;
      height: 70px;
      margin-top: -35px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    h6 {
      width: fit-content;
      margin: auto;
      cursor: pointer;
      margin-bottom: 15px;
      transition: .3s;

      &:hover {
        color: #0075ff;
      }
    }
  }

  .items {

    p {
      margin: 10px 0;
      padding: 0 10px;
    }

    button {
      text-align: center;
      padding: 10px;
      width: 100%;
      border-top: 1px solid #DDD;
      background-color: transparent;
      transition: .3s;

      &:hover {
        background-color: #DDD;
      }
    }
  }

  .links {
    p {
      margin: 10px 0;
      padding: 0 10px;
    }

    button {
      text-align: center;
      padding: 10px;
      width: 100%;
      border-top: 1px solid #DDD;
      background-color: transparent;
      transition: .3s;

      &:hover {
        background-color: #DDD;
      }
    }
  }
}

.container .main {
  width: 50%;
}

.container .right-side {
  width: 25%;

  &>div {
    background-color: white;
  }

  .tags {
    span {
      font-size: 15px;
    }

    button {
      border: 2px solid #EEE;
      transition: .3s;

      &:hover {
        background-color: #EEE;
      }
    }
  }
}

.modal-dialog .share-btns button {
  transition: .3s;

  &:hover {
    background-color: #EEE !important;
  }
}

/* Main */

/* Post Modal */
.home .post-modal {
  padding: 15px 15px 5px;

  .top {

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    button {
      padding: 10px 15px;
      background-color: transparent;
      border: 2px solid #EEE;
      transition: .3s;

      &:hover {
        background-color: #EEE;
      }
    }
  }

  .icons {
    button {
      padding: 14px 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 6px;
      background-color: transparent;
      transition: .3s;

      &:hover {
        background-color: #EEE;
      }
    }
  }
}

.posts {
  padding-bottom: 50px;
}

.posts .post {
  background-color: white;

  .options {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    border-radius: 50%;
    z-index: 99;

    &:active {
      background-color: #EEE;
    }

    ul {
      position: absolute;
      top: 102%;
      right: 0;
      width: 180px;
      background: #333;
      color: white;

      li {
        transition: .3s;

        &:hover {
          color: #0075ff;
        }
      }
    }
  }

  .head {
    .share {
      padding: 5px !important;
    }

    .info {
      padding: 10px !important;

      img {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      h6 {
        font-weight: bold;
        cursor: pointer;
      }

      span {
        font-size: 14px;
      }
    }
  }

  .footer {
    .info {
      font-size: 15px;
    }

    .icons button {
      /* width: 25%; */
      flex: 1;
      padding: 15px 10px;
      background-color: transparent;
      border-radius: 6px;
      transition: .3s;

      &:active {
        background-color: #EEE;
      }

      img {
        width: 25px;
      }
    }

  }
}

@media (max-width: 991px) {
  .container {
    max-width: 100% !important;
  }

  .post-modal {
    .icons {
      gap: 0 !important;

      button {
        padding: 8px !important;
        gap: 2px !important;
      }

      span {
        font-size: 15px;
      }
    }
  }

  .post {
    .footer {
      padding: 10px 8px !important;

      .icons button {
        width: auto !important;
        flex: 1;
        padding: 10px 5px !important;
        font-size: 14px;
        gap: 2px !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;

    .post-modal {
      padding: 10px 0;

      .top {
        padding: 0 10px;
      }

      .icons button {
        padding: 5px !important;
      }
    }

    &>div {
      width: 100% !important;
    }

    .left-side {
      position: relative !important;
    }

    .right-side {
      display: none;
    }
  }
}

@media (max-width: 300px) {
  .header .notifications {
    .list {
      width: 275px;
      left: -140px;
    }
  }

  .post-modal .icons {
    flex-wrap: wrap;
  }

  .post .footer .icons {
    flex-wrap: wrap;
  }

  .post .footer .icons {
    img {
      width: 20px !important;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}